
.product{
    /* color: green; */
    font-size: 1.6rem;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    padding: 2rem;
}
.product *{
    margin-bottom: 1rem;
}
.product-rating i{
    color: orange;
}
.product img{
    width: 30rem;
}
.product button{
    margin: auto;
    background-color: orange;
    color: black;
    border: none;
    padding: 0.8rem 3rem;
    border-radius: 5px;
    font-weight: 700;
}
.product button:hover{
    background-color: lightsalmon;
    transform: scale(1.05);
    cursor: pointer;
}

